
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBlackListRecordItemLabel" data-translate="facetrackerApp.blackListRecordItem.home.createOrEditLabel">Create or edit a Black List Record Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.blackListRecordItem.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.blackListRecordItem.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="facetrackerApp.blackListRecordItem.record" for="field_record">Record</label>
            <select class="form-control" id="field_record" name="record" ng-model="vm.blackListRecordItem.record" ng-options="record as record.id for record in vm.records track by record.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="facetrackerApp.blackListRecordItem.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="vm.blackListRecordItem.person" ng-options="blackListPerson as blackListPerson.id for blackListPerson in vm.blacklistpeople track by blackListPerson.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
